.systems-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Full viewport height */
  width: 100%; /* Full viewport width */
  padding-right: 100px;
}

.systems-grid {
  position: absolute;
  border:0em;
}

.itemid {
  position: absolute;
  width: 50px; /* Keep your cell sizes */
  height: 50px; /* Keep your cell sizes */
  border: 1px solid rgb(228, 4, 4);
  font-size: 6px;
  text-align:center;
  color: #000;
  background-color: #fff;
  transition: all 0.3s ease;
 
}

.itemid10, .itemid11, .itemid12, .itemid13, .itemid14, .itemid15, .itemid16, .itemid17, .itemid18 {
  transform: scaleX(4); /* This scales the nodes along the X-axis */
}